

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;

  background: #2a7b9b;
  background:  linear-gradient(
    100deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%    
  );
   background:  -webkit-linear-gradient(
    100deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
   )
}

body.dark {
background: #000008;
background: linear-gradient(100deg, rgb(7, 8, 43) 0%, rgba(28, 28, 82, 1) 45%, rgb(10, 61, 84) 100%);
background: -webkit-linear-gradient(100deg, rgb(7, 8, 43) 0%, rgba(28, 28, 82, 1) 45%, rgb(10, 61, 84) 100%);

}

button {
    font-family: "Manrope", sans-serif;
  background-color: #240a0a1f;
  color: #e8e8e8;
  border: 0px solid #00000000;
  border-radius: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  outline: 0;
  box-shadow: none;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.main-container {
  margin-top: 10px;
  width: 85%;
  height: 60%;
}


.task-container{
  height: 92%;
  padding-left: 3%;
    padding-right: 3%;

  overflow-y: auto;
  scrollbar-width: none;
}

.input-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 80%;
  margin-top: 70px;
}

.task-input {
  width: 100%;
  height: 70px;
  font-size: 20px;
  padding-left: 20px;
  background-color: #240a0a1f;
  color: #e8e8e8;
  border: 0px solid #00000000;
  border-radius: 13px;
  transition: all 0.5s ease;
  outline: 0;
  box-shadow: none;
}



.task-input::placeholder {
  color: #e8e8e89e;
}

.add-btn {
  font-size: 25px;
  margin: 0;
  margin-left: 10px;
  border-radius: 13px;
}


.task {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.edit-field{
    width: 100%;
padding-left: 20px;
  padding-right: 50px;
    height:60.7px;
  font-size: 18px;
  background-color: #240a0a1f;
  color: #e8e8e8;
  border: 0px solid #00000000;
  border-radius: 13px;
   outline: 0;
  box-shadow: none;
}

.task-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;
  padding-right: 50px;

  height: 10%;
  font-size: 18px;
  background-color: #240a0a1f;
  color: #e8e8e8;
  border: 0px solid #00000000;
  border-radius: 13px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  outline: 0;
  box-shadow: none;
}



.task-box:hover {
  background-color: #240a0a2f;
  transform: scale(1.035);
  color: rgb(255, 255, 255);
  overflow: auto;
}

.task-box.no-hover:hover{
  background-color: #240a0a1f;
  transform: none;
  color: #e8e8e8;
}

.task-item {
  margin-left: 0;
  width: 100%;
  overflow-wrap: anywhere;
  display: inline-block;
  margin-top: 18px;
  margin-bottom: 18px;
  background-color: transparent;
  border: 0;
  color: #e8e8e8;
  font-size: 18px;
  outline: 0;
  box-shadow: none;
  cursor: pointer;
}

.task-item.edit-active{
  cursor: text;
}

.btn-container{
width: 0;
flex: 0 0 0; 
gap: 0;
opacity: 0;
margin-left: 0;
display: flex;

transition: all 0.3s ease;
 overflow: hidden; /* hide content when closed */
}

.edit-btn, .done-btn{
  margin-left: 10px;
  flex: 1 1 50%;
  transition: all 0.3s ease;

}

.edit-btn:hover, .done-btn:hover{
  background-color: #240a0a2f;
  color: rgb(255, 255, 255);
  overflow: auto;
}

.edit-btn.save-btn{
  flex: 1 1 100%;
}

.done-btn.save-hide{
 flex: 0 0 0;       /* shrink width to zero */
 
  opacity: 0;         /* fade out */
  margin: 0;     /* remove gap space */
  padding: 0;
  overflow: hidden;
  pointer-events: none; /* disable interaction */
}

.done-btn.remove-btn{
  background-color: rgba(255, 0, 0, 0.53);
}

.done-btn.remove-btn:hover{
  background-color: rgba(255, 0, 0, 0.685);
}

.btn-active{
  flex: 0 0 30%;
  opacity: 1;
}

.add-btn {
  flex: 0 0 18%;
}

/*
.task.active:hover .done-btn {
  flex: 0 0 18%;
  opacity: 1;
  margin-left: 10px;
}
*/
.category-list{
  display: flex;
  gap: 10px;
}

.category{
  list-style-type: none;
  text-decoration: none;
  font-size: 14px;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.theme{
  cursor: none;
  display: none;
}



.sun , .moon{
  fill:#e8e8e8;
  opacity: 70%;
  cursor: pointer;
}

.sun{
  display: block;
}

.moon{
  display: none;
}

.hidden-checkbox{
display: none;
}


.bi-trash{
  display: none;
  fill: #e8e8e8;
 margin: 0;
  opacity: 90%;
  width: 25px; 
  height: 25px;
}

.no-task{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 50%;
  padding: 50px;
}

.nothing{
font-size: 20px;
opacity: 90%;
text-align: center;
}

.guide-msg{
  font-size: 16px;
  opacity: 75%;
  text-align: center;
  margin-top: 0;
}

.sections{
    font-family: "Manrope", sans-serif;
  color: #e8e8e8;
  display: flex;
  width: 80%;
  justify-content: space-between;
  gap: 10px;
  
}

.sections-child{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
  font-size: 15px;

  background-color: #240a0a1f;
  color: #e8e8e8;
  border: 0px solid #00000000;
  border-radius: 13px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  outline: 0;
  box-shadow: none;
    opacity: 50%;
  cursor: pointer;
}

.sections-child:hover{
  opacity: 100%;
  background-color: #240a0a1f;
}


.sections-child.active{
  width: 200%;
  opacity: 100%;
  background-color:#240a0a1f;

}

.hide-task{
  display: none;
}

.task-box.done{
  text-decoration: line-through white ;
  -webkit-text-decoration-line: line-through;
  -webkit-text-decoration-color: white; 
  opacity: 30%;
}

